<section class="m-5 p-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-lolo fixed-top ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Page d'accueil <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active ">
                    <a class="nav-link" href="/Article">Articles</a>
                </li>

                <li class="nav-item active ">
                    <a class="nav-link" href="/logout">Se Déconnecter</a>
                </li>
             

                <!-- Button trigger modal register-->

                <li class="nav-item active ">
                    <a class="nav-link" data-toggle="modal" data-target="#register" href="#">Se connecter/S'inscrire</a>
                </li>

                {{> navbar/register }}
                
                {{!-- Appel le modal de ce bouton --}}



                <li class="nav-item active ">
                    <a class="nav-link" href="#">Mon Compte</a>
                </li>



                <li class="nav-item active ">
                    <a class="nav-link" href="#">Contact</a>
                </li>


                <li class="nav-item active  ">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>



                  <span class="navbar-text   ">
                    Bonjour user
                </span>


            </ul>
        </div>
    </nav>
</section>